<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFlow | Server Status</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/kard.css') }}">
</head>

<body>

    <div class="container textured tex-grid">
        <div class="header width-100">
            <h1>
                Server Status <span class="smaller"><i>Beta</i></span>
            </h1>
            <div class="tag dark">
                <p>WIP</p>
            </div>
        </div>

        <div class="content width-100 column">
            <div class="subheader width-100">
                <p class="border-bottom-sharp">GF SYSTEM</p>
            </div>
            <div class="width-100 tag">
                <p class="capitalize">{{scripts_status}}</p>
            </div>
            <hr>
            <div class="subheader width-100">
                <p class="border-bottom-sharp">API</p>
            </div>
            <div class="width-100 tag">
                <p class="capitalize">{{api_status}}</p>
            </div>
        </div>
        <div class="width-100 one-line footer vertical-center space-between">
            <div class="one-line space-evenly width-50">
                <h2>GoFlow</h2>
            </div>

            <div class="one-line space-evenly width-50 gap-20">
                <a class="tag" href="db-editor">
                    <p>DB Editor</p>
                </a>
                <a class="tag" href="/server-status">
                    <p>Status</p>
                </a>
            </div>
        </div>
    </div>



</body>

</html>